Temp/Package/PackageTmp/Service References/OpenFITAccount/Bank_Biztalk_FundsInTransit_orcProcessOpenFITAccount_ReceiveOFAPort.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Bank.Biztalk.FundsInTransit" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Bank.Biztalk.FundsInTransit" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "Bank.Biztalk.FundsInTransit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6a38869872cfb52d" published web service.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Bank.Biztalk.FundsInTransit">
      <s:element name="OFA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OpenFITAccount">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="SourceID" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Customer" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="AccountType" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="AccountCurrency" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="OpportunityReference" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Spare1" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Spare2" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Spare3" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Spare4" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Spare5" type="s:string" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OFAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OpenFITAccountResponse">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="SourceID" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="FITAccountNumber" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="ResponseCode" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="ResponseDescription" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Spare1" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Spare2" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Spare3" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Spare4" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Spare5" type="s:string" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="OFASoapIn">
    <wsdl:part name="parameters" element="tns:OFA" />
  </wsdl:message>
  <wsdl:message name="OFASoapOut">
    <wsdl:part name="parameters" element="tns:OFAResponse" />
  </wsdl:message>
  <wsdl:portType name="Bank_Biztalk_FundsInTransit_orcProcessOpenFITAccount_ReceiveOFAPortSoap">
    <wsdl:operation name="OFA">
      <wsdl:input message="tns:OFASoapIn" />
      <wsdl:output message="tns:OFASoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Bank_Biztalk_FundsInTransit_orcProcessOpenFITAccount_ReceiveOFAPortSoap" type="tns:Bank_Biztalk_FundsInTransit_orcProcessOpenFITAccount_ReceiveOFAPortSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OFA">
      <soap:operation soapAction="http://Bank.Biztalk.FundsInTransit/Bank_Biztalk_FundsInTransit_orcProcessOpenFITAccount_ReceiveOFAPort/OFA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Bank_Biztalk_FundsInTransit_orcProcessOpenFITAccount_ReceiveOFAPortSoap12" type="tns:Bank_Biztalk_FundsInTransit_orcProcessOpenFITAccount_ReceiveOFAPortSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OFA">
      <soap12:operation soapAction="http://Bank.Biztalk.FundsInTransit/Bank_Biztalk_FundsInTransit_orcProcessOpenFITAccount_ReceiveOFAPort/OFA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Bank_Biztalk_FundsInTransit_orcProcessOpenFITAccount_ReceiveOFAPort">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "Bank.Biztalk.FundsInTransit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6a38869872cfb52d" published web service.</wsdl:documentation>
    <wsdl:port name="Bank_Biztalk_FundsInTransit_orcProcessOpenFITAccount_ReceiveOFAPortSoap" binding="tns:Bank_Biztalk_FundsInTransit_orcProcessOpenFITAccount_ReceiveOFAPortSoap">
      <soap:address location="http://bizdev05/Bank.Biztalk.FundsInTransit.OpenFITAccount/Bank_Biztalk_FundsInTransit_orcProcessOpenFITAccount_ReceiveOFAPort.asmx" />
    </wsdl:port>
    <wsdl:port name="Bank_Biztalk_FundsInTransit_orcProcessOpenFITAccount_ReceiveOFAPortSoap12" binding="tns:Bank_Biztalk_FundsInTransit_orcProcessOpenFITAccount_ReceiveOFAPortSoap12">
      <soap12:address location="http://bizdev05/Bank.Biztalk.FundsInTransit.OpenFITAccount/Bank_Biztalk_FundsInTransit_orcProcessOpenFITAccount_ReceiveOFAPort.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>