wsdls/CancelTransactionEngage.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://IBB.Services.EngageServices" xmlns:s1="http://IBB.Services.CashierServices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://IBB.Services.EngageServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "IBB.Services.EngageServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6a38869872cfb52d" published web service.</wsdl:documentation>
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://IBB.Services.EngageServices">
			<s:import namespace="http://IBB.Services.CashierServices" />
			<s:element name="CancelTransaction">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" ref="s1:CancelTransactionEngage" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CancelTransactionResponse">
				+ <s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" ref="s1:CancelTransactionEngageResponse" />
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
		<s:schema elementFormDefault="qualified" targetNamespace="http://IBB.Services.CashierServices">
			<s:element name="CancelTransactionEngage">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="SourceID" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="OriginalMessageID" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Spare1" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Spare2" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Spare3" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Spare4" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Spare5" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CancelTransactionEngageResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="OriginalMessageID" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="MsgStatus" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="MsgStatusDescription" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="ResponseReference" type="s:string" />
						<s:element minOccurs="0" maxOccurs="1" name="Dated" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="CancelTransactionSoapIn">
		<wsdl:part name="parameters" element="tns:CancelTransaction" />
	</wsdl:message>
	<wsdl:message name="CancelTransactionSoapOut">
		<wsdl:part name="parameters" element="tns:CancelTransactionResponse" />
	</wsdl:message>
	<wsdl:portType name="IBB_Services_EngageServices_orcCancelTransactionEngage_ReceiveCancelTransactionRequestPortSoap">
		<wsdl:operation name="CancelTransaction">
			<wsdl:input message="tns:CancelTransactionSoapIn" />
			<wsdl:output message="tns:CancelTransactionSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="IBB_Services_EngageServices_orcCancelTransactionEngage_ReceiveCancelTransactionRequestPortSoap" type="tns:IBB_Services_EngageServices_orcCancelTransactionEngage_ReceiveCancelTransactionRequestPortSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CancelTransaction">
			<soap:operation soapAction="http://IBB.Services.EngageServices/IBB_Services_EngageServices_orcCancelTransactionEngage_ReceiveCancelTransactionRequestPort/CancelTransaction" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="IBB_Services_EngageServices_orcCancelTransactionEngage_ReceiveCancelTransactionRequestPortSoap12" type="tns:IBB_Services_EngageServices_orcCancelTransactionEngage_ReceiveCancelTransactionRequestPortSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CancelTransaction">
			<soap12:operation soapAction="http://IBB.Services.EngageServices/IBB_Services_EngageServices_orcCancelTransactionEngage_ReceiveCancelTransactionRequestPort/CancelTransaction" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IBB_Services_EngageServices_orcCancelTransactionEngage_ReceiveCancelTransactionRequestPort">
		<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "IBB.Services.EngageServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6a38869872cfb52d" published web service.</wsdl:documentation>
		<wsdl:port name="IBB_Services_EngageServices_orcCancelTransactionEngage_ReceiveCancelTransactionRequestPortSoap" binding="tns:IBB_Services_EngageServices_orcCancelTransactionEngage_ReceiveCancelTransactionRequestPortSoap">
			<soap:address location="http://localhost:91/IBB.Services.EngageServices.CancelTransactionEngage/IBB_Services_EngageServices_orcCancelTransactionEngage_ReceiveCancelTransactionRequestPort.asmx" />
		</wsdl:port>
		<wsdl:port name="IBB_Services_EngageServices_orcCancelTransactionEngage_ReceiveCancelTransactionRequestPortSoap12" binding="tns:IBB_Services_EngageServices_orcCancelTransactionEngage_ReceiveCancelTransactionRequestPortSoap12">
			<soap12:address location="http://localhost:91/IBB.Services.EngageServices.CancelTransactionEngage/IBB_Services_EngageServices_orcCancelTransactionEngage_ReceiveCancelTransactionRequestPort.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>