wsdls/GetNoticeWithdrawalList.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://IBB.Services.EngageServices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://IBB.Services.EngageServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "IBB.Services.EngageServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6a38869872cfb52d" published web service.</wsdl:documentation>
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://IBB.Services.EngageServices">
			<s:element name="NoticeWithdrawalList">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetNoticeWithdrawals">
							<s:complexType>
								<s:sequence>
									<s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="SourceID" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="WorkstationID" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="NoticeWithdrawalListResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="GetNoticeWithdrawalsResponse">
							<s:complexType>
								<s:sequence>
									<s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="SourceID" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="ResponseCode" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="ResponseDescription" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="NoticeWithdrawals" type="tns:ArrayOfGetNoticeWithdrawalsResponseNoticeWithdrawalDetail" />
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfGetNoticeWithdrawalsResponseNoticeWithdrawalDetail">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="NoticeWithdrawalDetail">
						<s:complexType>
							<s:sequence>
								<s:element minOccurs="0" maxOccurs="1" name="NoticeReference" type="s:string" />
								<s:element minOccurs="0" maxOccurs="1" name="NoticeGivenDate" type="s:string" />
								<s:element minOccurs="0" maxOccurs="1" name="NoticeMaturityDate" type="s:string" />
								<s:element minOccurs="0" maxOccurs="1" name="NoticeAmount" type="s:string" />
								<s:element minOccurs="0" maxOccurs="1" name="NoticeBeneficiaryAccountNumber" type="s:string" />
								<s:element minOccurs="0" maxOccurs="1" name="NoticeBeneficiarySortCode" type="s:string" />
								<s:element minOccurs="0" maxOccurs="1" name="NoticeBeneficiaryName" type="s:string" />
								<s:element minOccurs="0" maxOccurs="1" name="NoticeCurrency" type="s:string" />
								<s:element minOccurs="0" maxOccurs="1" name="NoticeStatus" type="s:string" />
								<s:element minOccurs="0" maxOccurs="1" name="NoticeTransferMethod" type="s:string" />
							</s:sequence>
						</s:complexType>
					</s:element>
				</s:sequence>
			</s:complexType>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="NoticeWithdrawalListSoapIn">
		<wsdl:part name="parameters" element="tns:NoticeWithdrawalList" />
	</wsdl:message>
	<wsdl:message name="NoticeWithdrawalListSoapOut">
		<wsdl:part name="parameters" element="tns:NoticeWithdrawalListResponse" />
	</wsdl:message>
	<wsdl:portType name="IBB_Services_EngageServices_orcGetNoticeWithdrawalList_ReceiveGetNoticeWithdrawalsPortSoap">
		<wsdl:operation name="NoticeWithdrawalList">
			<wsdl:input message="tns:NoticeWithdrawalListSoapIn" />
			<wsdl:output message="tns:NoticeWithdrawalListSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="IBB_Services_EngageServices_orcGetNoticeWithdrawalList_ReceiveGetNoticeWithdrawalsPortSoap" type="tns:IBB_Services_EngageServices_orcGetNoticeWithdrawalList_ReceiveGetNoticeWithdrawalsPortSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NoticeWithdrawalList">
			<soap:operation soapAction="http://IBB.Services.EngageServices/IBB_Services_EngageServices_orcGetNoticeWithdrawalList_ReceiveGetNoticeWithdrawalsPort/NoticeWithdrawalList" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="IBB_Services_EngageServices_orcGetNoticeWithdrawalList_ReceiveGetNoticeWithdrawalsPortSoap12" type="tns:IBB_Services_EngageServices_orcGetNoticeWithdrawalList_ReceiveGetNoticeWithdrawalsPortSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="NoticeWithdrawalList">
			<soap12:operation soapAction="http://IBB.Services.EngageServices/IBB_Services_EngageServices_orcGetNoticeWithdrawalList_ReceiveGetNoticeWithdrawalsPort/NoticeWithdrawalList" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IBB_Services_EngageServices_orcGetNoticeWithdrawalList_ReceiveGetNoticeWithdrawalsPort">
		<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "IBB.Services.EngageServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6a38869872cfb52d" published web service.</wsdl:documentation>
		<wsdl:port name="IBB_Services_EngageServices_orcGetNoticeWithdrawalList_ReceiveGetNoticeWithdrawalsPortSoap" binding="tns:IBB_Services_EngageServices_orcGetNoticeWithdrawalList_ReceiveGetNoticeWithdrawalsPortSoap">
			<soap:address location="http://localhost:91/IBB.Services.EngageServices.GetNoticeWithdrawalList/IBB_Services_EngageServices_orcGetNoticeWithdrawalList_ReceiveGetNoticeWithdrawalsPort.asmx" />
		</wsdl:port>
		<wsdl:port name="IBB_Services_EngageServices_orcGetNoticeWithdrawalList_ReceiveGetNoticeWithdrawalsPortSoap12" binding="tns:IBB_Services_EngageServices_orcGetNoticeWithdrawalList_ReceiveGetNoticeWithdrawalsPortSoap12">
			<soap12:address location="http://localhost:91/IBB.Services.EngageServices.GetNoticeWithdrawalList/IBB_Services_EngageServices_orcGetNoticeWithdrawalList_ReceiveGetNoticeWithdrawalsPort.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>