Temp/Package/PackageTmp/Service References/DirectDebitCancel/IBB_Services_CashierServices_orcCancelDirectDebit_ReceiveCancelDirectDebitPort.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://IBB.Services.CashierServices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://IBB.Services.CashierServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "IBB.Services.CashierServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6a38869872cfb52d" published web service.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://IBB.Services.CashierServices">
      <s:element name="CancelDirectDebit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelDirectDebit">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SourceID" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="WorkstationID" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="AccountNo" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="DDReference" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Spare1" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Spare2" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Spare3" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Spare4" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Spare5" type="s:string" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelDirectDebitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelDirectDebitResponse">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="MsgStatus" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="MsgStatusDescription" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Dated" type="s:string" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CancelDirectDebitSoapIn">
    <wsdl:part name="parameters" element="tns:CancelDirectDebit" />
  </wsdl:message>
  <wsdl:message name="CancelDirectDebitSoapOut">
    <wsdl:part name="parameters" element="tns:CancelDirectDebitResponse" />
  </wsdl:message>
  <wsdl:portType name="IBB_Services_CashierServices_orcCancelDirectDebit_ReceiveCancelDirectDebitPortSoap">
    <wsdl:operation name="CancelDirectDebit">
      <wsdl:input message="tns:CancelDirectDebitSoapIn" />
      <wsdl:output message="tns:CancelDirectDebitSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IBB_Services_CashierServices_orcCancelDirectDebit_ReceiveCancelDirectDebitPortSoap" type="tns:IBB_Services_CashierServices_orcCancelDirectDebit_ReceiveCancelDirectDebitPortSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CancelDirectDebit">
      <soap:operation soapAction="http://IBB.Services.CashierServices/IBB_Services_CashierServices_orcCancelDirectDebit_ReceiveCancelDirectDebitPort/CancelDirectDebit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IBB_Services_CashierServices_orcCancelDirectDebit_ReceiveCancelDirectDebitPortSoap12" type="tns:IBB_Services_CashierServices_orcCancelDirectDebit_ReceiveCancelDirectDebitPortSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CancelDirectDebit">
      <soap12:operation soapAction="http://IBB.Services.CashierServices/IBB_Services_CashierServices_orcCancelDirectDebit_ReceiveCancelDirectDebitPort/CancelDirectDebit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IBB_Services_CashierServices_orcCancelDirectDebit_ReceiveCancelDirectDebitPort">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "IBB.Services.CashierServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6a38869872cfb52d" published web service.</wsdl:documentation>
    <wsdl:port name="IBB_Services_CashierServices_orcCancelDirectDebit_ReceiveCancelDirectDebitPortSoap" binding="tns:IBB_Services_CashierServices_orcCancelDirectDebit_ReceiveCancelDirectDebitPortSoap">
      <soap:address location="http://bizdev04:91/IBB.Services.CashierServices.CancelDirectDebit/IBB_Services_CashierServices_orcCancelDirectDebit_ReceiveCancelDirectDebitPort.asmx" />
    </wsdl:port>
    <wsdl:port name="IBB_Services_CashierServices_orcCancelDirectDebit_ReceiveCancelDirectDebitPortSoap12" binding="tns:IBB_Services_CashierServices_orcCancelDirectDebit_ReceiveCancelDirectDebitPortSoap12">
      <soap12:address location="http://bizdev04:91/IBB.Services.CashierServices.CancelDirectDebit/IBB_Services_CashierServices_orcCancelDirectDebit_ReceiveCancelDirectDebitPort.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>