wsdls/v3/CashWithdrawal.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://IBB.Services.CashierServices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://IBB.Services.CashierServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "IBB.Services.EngageServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6a38869872cfb52d" published web service.</wsdl:documentation>
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://IBB.Services.CashierServices">
			<s:element name="CashWithdrawal">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="CashWithdrawal">
							<s:complexType>
								<s:sequence>
									<s:element minOccurs="0" maxOccurs="1" name="SourceID" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="WorkstationID" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="PostToCashAccount" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="EBSUserID" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="AcctNo" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="TransactionCurrency" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="TransactionAmount" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="ValueDate" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="TransactionReference" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="TransactionNarrativeLine1" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="TransactionNarrativeLine2" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="TransactionNarrativeLine3" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="TransactionNarrativeLine4" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="DebitSystemParameter" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="CreditSystemParameter" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="OverrideUser" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="ChargeCode" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="ChargeAmount" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="DebitAccountNumber" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="CreditAccountNumber" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="Spare1" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="Spare2" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="Spare3" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="Spare4" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="Spare5" type="s:string" />
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CashWithdrawalResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="CashWithdrawalResponse">
							<s:complexType>
								<s:sequence>
									<s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="MsgStatus" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="MsgStatusDescription" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="ResponseReference" type="s:string" />
									<s:element minOccurs="0" maxOccurs="1" name="Dated" type="s:string" />
								</s:sequence>
							</s:complexType>
						</s:element>
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="CashWithdrawalSoapIn">
		<wsdl:part name="parameters" element="tns:CashWithdrawal" />
	</wsdl:message>
	<wsdl:message name="CashWithdrawalSoapOut">
		<wsdl:part name="parameters" element="tns:CashWithdrawalResponse" />
	</wsdl:message>
	<wsdl:portType name="IBB_Services_EngageServices_orcCashWithdrawal_ReceiveCashWithdrawalRequestPortSoap">
		<wsdl:operation name="CashWithdrawal">
			<wsdl:input message="tns:CashWithdrawalSoapIn" />
			<wsdl:output message="tns:CashWithdrawalSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="IBB_Services_EngageServices_orcCashWithdrawal_ReceiveCashWithdrawalRequestPortSoap" type="tns:IBB_Services_EngageServices_orcCashWithdrawal_ReceiveCashWithdrawalRequestPortSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CashWithdrawal">
			<soap:operation soapAction="http://IBB.Services.CashierServices/IBB_Services_EngageServices_orcCashWithdrawal_ReceiveCashWithdrawalRequestPort/CashWithdrawal" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="IBB_Services_EngageServices_orcCashWithdrawal_ReceiveCashWithdrawalRequestPortSoap12" type="tns:IBB_Services_EngageServices_orcCashWithdrawal_ReceiveCashWithdrawalRequestPortSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CashWithdrawal">
			<soap12:operation soapAction="http://IBB.Services.CashierServices/IBB_Services_EngageServices_orcCashWithdrawal_ReceiveCashWithdrawalRequestPort/CashWithdrawal" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IBB_Services_EngageServices_orcCashWithdrawal_ReceiveCashWithdrawalRequestPort">
		<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "IBB.Services.EngageServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6a38869872cfb52d" published web service.</wsdl:documentation>
		<wsdl:port name="IBB_Services_EngageServices_orcCashWithdrawal_ReceiveCashWithdrawalRequestPortSoap" binding="tns:IBB_Services_EngageServices_orcCashWithdrawal_ReceiveCashWithdrawalRequestPortSoap">
			<soap:address location="http://localhost:91/IBB.Services.EngageServices.CashWithdrawal/IBB_Services_EngageServices_orcCashWithdrawal_ReceiveCashWithdrawalRequestPort.asmx" />
		</wsdl:port>
		<wsdl:port name="IBB_Services_EngageServices_orcCashWithdrawal_ReceiveCashWithdrawalRequestPortSoap12" binding="tns:IBB_Services_EngageServices_orcCashWithdrawal_ReceiveCashWithdrawalRequestPortSoap12">
			<soap12:address location="http://localhost:91/IBB.Services.EngageServices.CashWithdrawal/IBB_Services_EngageServices_orcCashWithdrawal_ReceiveCashWithdrawalRequestPort.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>