ApexServices/Service References/FXRates/Bank_Biztalk_FXServices_orcProcessRateEnquiry_FXRequestPort.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Bank.Biztalk.FXServices" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Bank.Biztalk.FXServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "Bank.Biztalk.FXServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6a38869872cfb52d" published web service.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Bank.Biztalk.FXServices">
      <s:element name="FXRates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FXRatesEnquiry">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="SourceID" type="s:string" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FXRatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FXRateEnquiryResponse">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="SourceID" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="ResponseCode" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="ResponseText" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="FXRates">
                    <s:complexType>
                      <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="FXRatesSummary">
                          <s:complexType>
                            <s:sequence>
                              <s:element minOccurs="0" maxOccurs="1" name="FXRateTolerance" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="DateLastMaintained" type="s:string" />
                            </s:sequence>
                          </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" maxOccurs="unbounded" name="FXRateDetail">
                          <s:complexType>
                            <s:sequence>
                              <s:element minOccurs="0" maxOccurs="1" name="BuyCurrency" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="SellCurrency" type="s:string" />
                              <s:element minOccurs="0" maxOccurs="1" name="ExchangeRate" type="s:string" />
                            </s:sequence>
                          </s:complexType>
                        </s:element>
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FXRatesSoapIn">
    <wsdl:part name="parameters" element="tns:FXRates" />
  </wsdl:message>
  <wsdl:message name="FXRatesSoapOut">
    <wsdl:part name="parameters" element="tns:FXRatesResponse" />
  </wsdl:message>
  <wsdl:portType name="Bank_Biztalk_FXServices_orcProcessRateEnquiry_FXRequestPortSoap">
    <wsdl:operation name="FXRates">
      <wsdl:input message="tns:FXRatesSoapIn" />
      <wsdl:output message="tns:FXRatesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Bank_Biztalk_FXServices_orcProcessRateEnquiry_FXRequestPortSoap" type="tns:Bank_Biztalk_FXServices_orcProcessRateEnquiry_FXRequestPortSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FXRates">
      <soap:operation soapAction="http://Bank.Biztalk.FXServices/Bank_Biztalk_FXServices_orcProcessRateEnquiry_FXRequestPort/FXRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Bank_Biztalk_FXServices_orcProcessRateEnquiry_FXRequestPortSoap12" type="tns:Bank_Biztalk_FXServices_orcProcessRateEnquiry_FXRequestPortSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FXRates">
      <soap12:operation soapAction="http://Bank.Biztalk.FXServices/Bank_Biztalk_FXServices_orcProcessRateEnquiry_FXRequestPort/FXRates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Bank_Biztalk_FXServices_orcProcessRateEnquiry_FXRequestPort">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "Bank.Biztalk.FXServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6a38869872cfb52d" published web service.</wsdl:documentation>
    <wsdl:port name="Bank_Biztalk_FXServices_orcProcessRateEnquiry_FXRequestPortSoap" binding="tns:Bank_Biztalk_FXServices_orcProcessRateEnquiry_FXRequestPortSoap">
      <soap:address location="http://localhost/Bank.Biztalk.FXServices.FXRates/Bank_Biztalk_FXServices_orcProcessRateEnquiry_FXRequestPort.asmx" />
    </wsdl:port>
    <wsdl:port name="Bank_Biztalk_FXServices_orcProcessRateEnquiry_FXRequestPortSoap12" binding="tns:Bank_Biztalk_FXServices_orcProcessRateEnquiry_FXRequestPortSoap12">
      <soap12:address location="http://localhost/Bank.Biztalk.FXServices.FXRates/Bank_Biztalk_FXServices_orcProcessRateEnquiry_FXRequestPort.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>