Temp/Package/PackageTmp/Service References/AccountTransfer/IBB_Services_EngageServices_orcAccountTransferEngage_ReceiveAccountTransferEngagePort1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://IBB.Services.CashierServices" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://IBB.Services.CashierServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "IBB.Services.EngageServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6a38869872cfb52d" published web service.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://IBB.Services.CashierServices">
      <s:element name="AccountTransferEngage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountTransferEngage">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="SourceID" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="WorkstationID" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="EBSUserID" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="TransferType" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="TransferFromAccountNo" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="TransferToAccountNo" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="TransferToSortCode" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="TransferReference" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="BeneficiaryReference" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="BeneficiaryName" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="TransferAmount" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="ExchangeRate" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="TransferDueDate" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="NarrativeLine1" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="NarrativeLine2" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="NarrativeLine3" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="NarrativeLine4" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="TransferCurrency" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="DebitSystemParameter" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="CreditSystemParameter" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="OverrideUser" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="ChargeCode" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="ChargeAmount" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="DebitAccountNumber" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="CreditAccountNumber" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Spare1" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Spare2" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Spare3" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Spare4" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Spare5" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="NoticeWithdrawalType" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="NoticeGivenDate" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="NoticeMaturityDate" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="CloseNoticeAccount" type="s:string" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountTransferEngageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountTransferEngageResponse">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="TransferReference" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="TransferDueDate" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="WithdrawalAmount" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="MsgStatus" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="MsgStatusDescription" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="ResponseReference" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="Dated" type="s:string" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AccountTransferEngageSoapIn">
    <wsdl:part name="parameters" element="tns:AccountTransferEngage" />
  </wsdl:message>
  <wsdl:message name="AccountTransferEngageSoapOut">
    <wsdl:part name="parameters" element="tns:AccountTransferEngageResponse" />
  </wsdl:message>
  <wsdl:portType name="IBB_Services_EngageServices_orcAccountTransferEngage_ReceiveAccountTransferEngagePortSoap">
    <wsdl:operation name="AccountTransferEngage">
      <wsdl:input message="tns:AccountTransferEngageSoapIn" />
      <wsdl:output message="tns:AccountTransferEngageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IBB_Services_EngageServices_orcAccountTransferEngage_ReceiveAccountTransferEngagePortSoap" type="tns:IBB_Services_EngageServices_orcAccountTransferEngage_ReceiveAccountTransferEngagePortSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AccountTransferEngage">
      <soap:operation soapAction="http://IBB.Services.CashierServices/IBB_Services_EngageServices_orcAccountTransferEngage_ReceiveAccountTransferEngagePort/AccountTransferEngage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IBB_Services_EngageServices_orcAccountTransferEngage_ReceiveAccountTransferEngagePortSoap12" type="tns:IBB_Services_EngageServices_orcAccountTransferEngage_ReceiveAccountTransferEngagePortSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AccountTransferEngage">
      <soap12:operation soapAction="http://IBB.Services.CashierServices/IBB_Services_EngageServices_orcAccountTransferEngage_ReceiveAccountTransferEngagePort/AccountTransferEngage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IBB_Services_EngageServices_orcAccountTransferEngage_ReceiveAccountTransferEngagePort">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "IBB.Services.EngageServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6a38869872cfb52d" published web service.</wsdl:documentation>
    <wsdl:port name="IBB_Services_EngageServices_orcAccountTransferEngage_ReceiveAccountTransferEngagePortSoap" binding="tns:IBB_Services_EngageServices_orcAccountTransferEngage_ReceiveAccountTransferEngagePortSoap">
      <soap:address location="http://192.168.1.107/IBB.Services.EngageServices.AccountTransferEngage/IBB_Services_EngageServices_orcAccountTransferEngage_ReceiveAccountTransferEngagePort.asmx" />
    </wsdl:port>
    <wsdl:port name="IBB_Services_EngageServices_orcAccountTransferEngage_ReceiveAccountTransferEngagePortSoap12" binding="tns:IBB_Services_EngageServices_orcAccountTransferEngage_ReceiveAccountTransferEngagePortSoap12">
      <soap12:address location="http://192.168.1.107/IBB.Services.EngageServices.AccountTransferEngage/IBB_Services_EngageServices_orcAccountTransferEngage_ReceiveAccountTransferEngagePort.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>