Temp/Package/PackageTmp/Service References/CancelNoticeWithdrawal/IBB_Services_EngageServices_orcCancelNoticeWithdrawal_ReceiveCancelNoticeWithdrawalPort.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://IBB.Services.EngageServices" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "IBB.Services.EngageServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6a38869872cfb52d" published web service.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://IBB.Services.EngageServices" />
      <s:element name="CancelNoticeWithdrawal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:CancelNoticeWithdrawal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelNoticeWithdrawalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:CancelNoticeWithdrawalResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://IBB.Services.EngageServices">
      <s:element name="CancelNoticeWithdrawal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SourceID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WorkstationID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoticeReference" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelNoticeWithdrawalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SourceID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ResponseCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ResponseDescription" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CancelNoticeWithdrawalSoapIn">
    <wsdl:part name="parameters" element="tns:CancelNoticeWithdrawal" />
  </wsdl:message>
  <wsdl:message name="CancelNoticeWithdrawalSoapOut">
    <wsdl:part name="parameters" element="tns:CancelNoticeWithdrawalResponse" />
  </wsdl:message>
  <wsdl:portType name="IBB_Services_EngageServices_orcCancelNoticeWithdrawal_ReceiveCancelNoticeWithdrawalPortSoap">
    <wsdl:operation name="CancelNoticeWithdrawal">
      <wsdl:input message="tns:CancelNoticeWithdrawalSoapIn" />
      <wsdl:output message="tns:CancelNoticeWithdrawalSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IBB_Services_EngageServices_orcCancelNoticeWithdrawal_ReceiveCancelNoticeWithdrawalPortSoap" type="tns:IBB_Services_EngageServices_orcCancelNoticeWithdrawal_ReceiveCancelNoticeWithdrawalPortSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CancelNoticeWithdrawal">
      <soap:operation soapAction="http://tempuri.org/IBB_Services_EngageServices_orcCancelNoticeWithdrawal_ReceiveCancelNoticeWithdrawalPort/CancelNoticeWithdrawal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IBB_Services_EngageServices_orcCancelNoticeWithdrawal_ReceiveCancelNoticeWithdrawalPortSoap12" type="tns:IBB_Services_EngageServices_orcCancelNoticeWithdrawal_ReceiveCancelNoticeWithdrawalPortSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CancelNoticeWithdrawal">
      <soap12:operation soapAction="http://tempuri.org/IBB_Services_EngageServices_orcCancelNoticeWithdrawal_ReceiveCancelNoticeWithdrawalPort/CancelNoticeWithdrawal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IBB_Services_EngageServices_orcCancelNoticeWithdrawal_ReceiveCancelNoticeWithdrawalPort">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BizTalk assembly "IBB.Services.EngageServices, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6a38869872cfb52d" published web service.</wsdl:documentation>
    <wsdl:port name="IBB_Services_EngageServices_orcCancelNoticeWithdrawal_ReceiveCancelNoticeWithdrawalPortSoap" binding="tns:IBB_Services_EngageServices_orcCancelNoticeWithdrawal_ReceiveCancelNoticeWithdrawalPortSoap">
      <soap:address location="http://192.168.1.107/IBB.Services.EngageServices.CancelNoticeWithdrawal/IBB_Services_EngageServices_orcCancelNoticeWithdrawal_ReceiveCancelNoticeWithdrawalPort.asmx" />
    </wsdl:port>
    <wsdl:port name="IBB_Services_EngageServices_orcCancelNoticeWithdrawal_ReceiveCancelNoticeWithdrawalPortSoap12" binding="tns:IBB_Services_EngageServices_orcCancelNoticeWithdrawal_ReceiveCancelNoticeWithdrawalPortSoap12">
      <soap12:address location="http://192.168.1.107/IBB.Services.EngageServices.CancelNoticeWithdrawal/IBB_Services_EngageServices_orcCancelNoticeWithdrawal_ReceiveCancelNoticeWithdrawalPort.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>